# Auto detect text files
* text=auto

# Source
*.md text diff=markdown
*.py text
*.json text
*.yaml text
*.yml text
*.xml text
*.sh text
*.bat text
*.ps1 text
*.conf text
*.csv text
*.txt text
*.html text
*.css text
*.js text
*.xsd text

# Binaries - treat as binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.svg binary
*.ico binary
*.psd binary
*.ai binary
*.mp4 binary
*.pdf binary
*.zip binary
*.rar binary
*.dwg binary
*.excalidraw binary

# Git
.gitattributes export-ignore
.gitignore export-ignore
